@using GororobaUI.Models
@rendermode InteractiveServer
@inject HttpClient Http
@inject IDialogService DialogService

@if(recipe is null)
{
     <MudDialog>
        <DialogContent>
            <div class="Loading">
                <p>Loading recipe details...</p>
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
            </div>
        </DialogContent>
    </MudDialog> 
}
else
{
     <MudDialog>
            <DialogContent>
            <div class="ContentClass">
                <h3>@recipe.Title</h3>
                <img src="@recipe.Image" alt="Image"/>
                <div class="BasicInfos">
                    <span>Prep time: @recipe.ReadyInMinutes min</span>
                    @if(@recipe.CookingMinutes != null)
                    {
                        <span>Cooking time: @recipe.CookingMinutes min</span>
                    }
                    <span>Servings: @recipe.Servings</span>
                </div>
                <p class="Sumarry">@((new MarkupString(recipe.Summary)))</p>
                <div class="MainContent">
                    <div class="Ingredients">
                        <span>Ingredients:</span>
                        <ul>
                            @foreach (var ing in recipe.ExtendedIngredients)
                            {
                                <li>@ing.Original</li>
                            }
                        </ul>
                    </div>
                    <div class="Instructions">
                        <span>Instructions:</span>
                        @((MarkupString)recipe.Instructions)
                    </div>
                </div>
            </div>
        </DialogContent>
    </MudDialog> 
}